{% extends "base_generic.html" %}


{% block content %}

<h1>Local Blog Home</h1>

    <p>Welcome to <em>LocalBlog</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>
  <h2>Dynamic content</h2>

  <p>The Blog has the following record users:</p>
    <ul>
        <li><strong>Users:</strong> {{ num_users }}</li>
    </ul>

  <h1>Post list</h1>

{% if object_list %}
<ul>
    {% for object in object_list %}
        {% if object.status == 2 %}
            <p><a href="{% url 'blog:post-detail' object.id %}">{{ object.title }} by {{ object.author }}</a>    - {{object.publishing_data}}</p>
        {% endif %}
    {% endfor %}
</ul>
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}
{% else %}
    <p>No post now.</p>
{% endif %}
{% endblock %}