{% extends "base_generic.html" %}

{% block content %}
  <!-- Page Content -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container pb50">
    <div class="row">
      <div class="col-md-9 mb40">
        <article>
            <img class="img-fluid rounded" src="{{ object.image.url }}" alt="connect" style="max-height:300px">
            <div class="post-content">
                <h3 class="mt-4">{{ object.title }}</h3>
                <ul class="post-meta list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-user-circle-o"></i> <a href="{% url 'user-comment' object.author.pk %}">{{object.author}}</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o"></i> <a href="#"> {{ object.publishing_data }}</a>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-tags"></i> <a href="#">Bootstrap4</a>
                    </li>
                </ul>
                <p class="lead">{{ object.description }}</p>
                <p> {{ object.text}}</p>
                <ul class="list-inline share-buttons">
                    <li class="list-inline-item">Share Post:</li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
                <hr class="mb40">
                <h4 class="mb40 text-uppercase font500">Comments</h4>
                    {% for object in object_list%}
                        {% if object.is_published == 1 %}
                            {% if object.author.username == 'anon' %}
                                <div class="media mb40">
                                    <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 font400 clearfix">Anon </h5>{{ object.comment }} - {{ object.pub_data }}
                                        <hr>
                                    </div>
                                </div>
                            {% else %}
                                <div class="media mb40">
                                    <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 font400 clearfix"><a href="{% url 'user-comment' object.author.pk %}" >{{ object.author.username }}:</a></h5>{{ object.comment }} - {{ object.pub_data }}
                                        <hr>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
            </div>
        </article>
      </div>
    </div>
  </div>
      <a href="{% url 'blog:post-comments' post.id %}"> Add a comment</a>


      {% if is_paginated %}
          {% include "pagination.html" %}
      {% endif %}

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

{% endblock %}