{% extends "base_generic.html" %}


{% block content %}
    
    <h1>User's post list</h1>

<div class="container main-section border ">
    {% for object in user.post_set.all %}

    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12">
        <div class="row">
          {% if object.image %}
          <div class="col-lg-2 col-sm-2 col-5">
              <img  src="{{ object.image.url }}" alt="connect" class="img-thumbnail" width="150px" style="max-height:300px">
          </div>
          {% endif %}
          <div class="col-lg-10 col-sm-10 col-7">
            <h4 class="text-primary"><a href="{% url 'blog:post-detail' object.id %}">{{ object.title }}</a></h4>
            <p>
              {{ object.description }}
            </p>

          </div>
        </div>
        <div class="row post-detail">
          <div class="col-lg-12 col-sm-12 col-12">
              <ul class="list-inline">
                <li class="list-inline-item">
                   <span>by</span> <span class="text-info"><a href="{% url 'user-detail' %}">{{ object.author }}</a></span>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ object.publishing_data }}</span>
                </li>
                <li class="list-inline-item">
                  <i class="fa fa-comment" aria-hidden="true"></i> <span class="text-info">{{ object.comments_set.count }} Comments</span>
                </li>


              </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>
      {% empty %}
      <p>No post now.</p>
  {% endfor %}
    {% load bootstrap4 %}
    <div style="margin-left: 45%" class="text-center">
  {% bootstrap_pagination page_obj %}
      </div>
  </div>

{% endblock %}