{% extends "base_generic.html" %}


{% block content %}
    <h1>User's post list</h1>
{% if object_list %}
<ul>
    {% for object in user.post_set.all %}
    <li>
        {% if object.status == 2 %}
            <a href="{% url 'blog:post-detail' object.id %}"> {{ object.title }} - {{ object.publishing_data }}</a>
        {% else %}
            <p> No published post </p>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% load bootstrap4 %}
{% bootstrap_pagination page_obj %}
{% else %}
    <p>No post yet.</p>
{% endif %}

{% endblock %}