{% extends "base_generic.html" %}
{% load crispy_forms_filters %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
	{% load crispy_forms_tags %}

	<!--User-->
	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Hello, {{ object.username|title }}</h4>
			      	<hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ object.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ object.first_name }} {{ user.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ object.email }} </p>
			        </div>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
                <div class="row">
		    		<div class="col-6 my-auto">
		    			<h2 class="font-weight-bold pt-4">Menu</h2>
                            <div class="navbar-nav">
                                <div class="sidebar-section">
                                    <nav class="navbar navbar-light bg-light">
                                            <a class="navbar-brand" href="{% url 'user-update' user.id %}">
                                                <img src="{% static 'img/images-1.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                                                    Update Profile
                                            </a>
                                    </nav>
                                    <nav class="navbar navbar-light bg-light">
                                        <a class="navbar-brand" href="{% url 'blog:user-post' user.id %} ">
                                            <img src="{% static 'img/download-1.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                                                Post List
                                        </a>
                                    </nav>
                                    <nav class="navbar navbar-light bg-light">
                                        <a class="navbar-brand" href="{% url 'blog:post-create' %}">
                                            <img src="{% static 'img/publish.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                                                Publish Post
                                        </a>
                                    </nav>
                                    <nav class="navbar navbar-light bg-light">
                                        <a class="navbar-brand" href="{% url 'blog:blanks-list' %}">
                                            <img src="{% static 'img/download.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                                                Blanks list
                                        </a>
                                    </nav>
                                    <nav class="navbar navbar-light bg-light">
                                        <a class="navbar-brand" href="{% url 'blog:change-password' %}">
                                            <img src="{% static 'img/change_password.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                                                Change password
                                        </a>
                                    </nav>
                            </div>
		    		</div>
		    	</div>
		      	<br>
		    </div>
		</div>
	</div>

	<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Edit Profile</h5>
                </div>
		    </div>
	  	</div>
	</div>
    </div>
{% endblock %}