<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container-fluid">
        {% block sidebar %}
            <ul class="sidebar-nav">
                <li><a href="{% url 'polls:index' %}">Home</a></li>
                <li><a href="{% url 'polls:login' %}">Login</a></li>
                <li><a href="{% url 'polls:registrate' %}">Authorizations</a></li>
                <li><a href="">Out</a></li>
            </ul>
        {% endblock %}
    </div>
</body>
</html>